/* ================Font-Linking================ */
@font-face {
  font-family: 'Whitney Light';
  src: url('./assets/fonts/whitneylight.woff') format('woff');
}

@font-face {
  font-family: 'Whitney Medium';
  src: url('./assets/fonts/whitneymedium.woff') format('woff');
}

@font-face {
  font-family: 'Whitney Bold';
  src: url('./assets/fonts/whitneybold.woff') format('woff');
}

/* font-family: 'Luckiest Guy', sans-serif, cursive; */


/* <<<<<<<<<<<<<<<<-Resetting-Some-Style's->>>>>>>>>>>>>>>> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;  /* Font-Size: 10px; */
}


/* <<<<<<<<<<<<<<<<-Defualt-variable-Value's->>>>>>>>>>>>>>>> */
:root {
  --light--color: #FFF;
  --dark--color: #000;
  --light--dark: #23272a;
  --off-white: #F6F6F6;

  --brand--color: #404eed;
  --light--brand--color: #5865f2;

  --font--size-16px: 1.6rem;
  --font--size-20px: 2rem;
  --font--size-24px: 2.4rem;

  --primary--title: 24px;
  --secondary--title: 3.2rem;

  --font1: 'Whitney Light', sans-serif;
  --font2: 'Luckiest Guy', sans-serif, cursive;

  --font-family-light: 'Whitney Light', sans-serif;
  --font-family-medium: 'Whitney Medium', sans-serif;
  --font-family-bold: 'Whitney Bold', sans-serif;

  --grid--columns: 4;

  --section-spacing: 5.6rem 0;

  --transition: 400ms all ease;
}


/* <<<<<<<<<<<<<<<<-Base-Style's->>>>>>>>>>>>>>>> */
body {
  font-family: var(--font1);
  font-size: var(--font--size-16px);
}

ul li {
  list-style-type: none;
}

.container {
  width: 90%;
  max-width: 126rem;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  color: var(--light--color);
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.row {
  display: grid;
  grid-template-columns: repeat(var(--grid--columns), 1fr);
  gap: 2rem;
  padding: var(--section-spacing);
}

/* <<<<<<<<<<<<<<<<-Button-Style's->>>>>>>>>>>>>>>> */

/* <<<<===Button-1===>>>> */
.btn1 {
  color: var(--dark--color);
  padding: .7rem 1.6rem;
  line-height: 24px;
  background-color: var(--light--color);
  border-radius: 4rem;
  margin-right: 1.6rem;
  transition: var(--transition);
  font-size: 1.6rem;
}

.btn1:hover {
  color: var(--brand--color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}


/* <<<<===Button-1===>>>> */
.btn2 {
  color: var(--dark--color);
  padding: 1.6rem 3.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 24px;
  border-radius: 2.8rem;
  background-color: var(--light--color);
  transition: var(--transition);
  z-index: 4;
}

.btn2:hover {
  color: var(--brand--color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}


/* <<<<===Button-1===>>>> */
.btn3 {
  color: var(--light--color);
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  line-height: 24px;
  border-radius: 2.8rem;
  background-color: var(--light--dark);
  transition: var(--transition);
  border: unset;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  z-index: 4;
}

.btn3:hover {
  background-color: #36393F;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}


/* <<<<===Button-1===>>>> */
.btn4 {
  color: var(--light--color);
  padding: 1.6rem 42px;
  font-size: 1.6rem;
  line-height: 24px;
  border-radius: 2.8rem;
  background-color: var(--brand--color);
  transition: var(--transition);
  border: unset;
  letter-spacing: 1px;
  font-weight: 600;
}

.btn4:hover {
  background-color: var(--light--brand--color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}


/* <<<<===Button-1===>>>> */
.btn5 {
  color: var(--light--color);
  padding: 1rem 1.6rem;
  line-height: 28px;
  background-color: var(--brand--color);
  border-radius: 4rem;
  margin-right: 1.6rem;
  transition: var(--transition);
}

.btn5:hover {
  background-color: var(--light--brand--color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

/* *<<<<<<<<<<<<<<<<<<<<<<<<<<<<---CONTENT-STYLING-START'S---->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<-Hero-Section-Style's->>>>>>>>>>>>>>>> */
.hero {
  width: 100%;
  height: 75rem;
  background-color: var(--brand--color);
  position: relative;
}


/* ====NAV-BAR-Styling==== */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
}

.nav__logo-image {
  display: block;
}

.mobile__nav-logo {
  width: 140px;
}

.nav__btn-group {
  display: flex;
  align-items: center;
}

.nav__backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 997;
}

.nav__menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  width: 30rem;
  background-color: var(--light--color);
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  padding: 2.4rem 4.8rem 12rem 2.4rem;
  transform: translateX(30rem);
}

.nav__menu--active {
  transform: translateY(0);
  transition: transform 0.15s;
}

.nav__menu-divider {
  height: 1px;
  background-color: #ebedef;
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
}

.nav__menu-footer {
  position: absolute;
  left: 1rem;
  right: 0;
  bottom: 3rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
}

.nav__list-link {
  display: block;
  padding: 0.8rem 1.6rem;
  color: var(--dark--color);
  font-size: 1.6rem;
}

.nav__list-link:hover {
  color: var(--brand--color);
  text-decoration: underline;
}

.btn--close {
  font-size: 4rem;
  position: absolute;
  top: 1rem;
  right: 3rem;
  color: var(--dark--color);
  cursor: pointer;
}

.btn--open {
  background-color: unset;
  border: unset;
  cursor: pointer;
}


/* ===================HERO-CONTENt-Styling=================== */
.row1 {
  grid-column: span 4;
  padding-left: 0px;
}

.row1 .main__title {
  color: var(--light--color);
  font-size: var(--primary--title);
  font-family: var(--font2);
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 4px;
}

.row1 .description__title {
  color: var(--light--color);
  font-size: var(--font--size-16px);
  line-height: 26px;
  margin-top: 2.4rem;
}

.row1 .btn__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;

}

.bg__svg1 {
  position: absolute;
  bottom: 0;
  right: 9rem;
}

.bg__svg2, .bg__svg3 {
  display: none;
}


/* ===================FEATURE-CONTENt-Styling=================== */
.feature__container .feature__image {
  grid-column: span 4;
}

.feature__container .feature__info {
  grid-column: span 4;
}

.feature__info {
  margin-top: 2rem;
}

.feature__info .feature__title {
  font-family: var(--font-family-bold);
  font-size: var(--font--size-24px);
  line-height: 24px;
}

.feature__info .feature__description {
  font-size: var(--font--size-16px);
  line-height: 26px;
  padding: 2rem 0;
}

.ulternate__feature-container {
  background-color: var(--off-white);
}


/* ===================READY-TO-START-SECTION-Styling=================== */
.ready-to {
  background-color: var(--off-white);
}

.ready__to__wrapper > * {
  grid-column: span var(--grid--columns);
}

.ready__to-info h2 {
  font-family: var(--font2);
  font-size: var(--font--size-24px);
  line-height: 25px;
  letter-spacing: 2px;
}

.ready__to-info p {
  line-height: 27px;
  margin-top: 3rem;
}


.ready__to-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ready__to-start h4 {
  font-size: var(--secondary--title);
  font-family: var(--font-family-bold);
  line-height: 38px;
  padding: 3rem 0;
  text-align: center;
}


/* ===================FOOTER-SECTION-Styling=================== */
footer {
  background-color: var(--light--dark);
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.footer__info {
  display: flex;
  flex-direction: column;
  padding: 6rem 0;
  gap: 2rem;
}

.footer__info h4 {
  color: var(--light--brand--color);
  font-family: var(--font2);
  font-size: var(--secondary--title);
  line-height: 30px;
  letter-spacing: 3px;
}

.language {
  display: flex;
  align-items: center;
}

.language img {
  width: 28px;
  height: 16px;
  margin-right: 5px;
}

.language p {
  color: var(--light--color);
}

.socials {
  display: flex;
  gap: 2rem;
}

.socials li a {
  font-size: 2.2rem;
  line-height: 18px;
}


/* =======FOOTER-LINKS-STYLING======= */
.footer__links {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0 4rem;
}

.f__links {
  width: 110px;
  height: 256px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.f__links li h5 {
  color: var(--light--brand--color);
  font-size: 1.6rem;
  line-height: 18px;
}

.f__links li a {
  font-size: 1.6rem;
}

.f__links li a:hover {
  text-decoration: underline;
}


/* ===================FOOTER-END-SECTION-Styling=================== */
.footer__end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0 4rem;
  border-top: 1px solid var(--light--brand--color);
}

.footer__end .btn5 {
  font-size: 1.6rem;
  line-height: 22px;
}






/* *<<<<<<<<<<<<<<<<<<<<<<<<<<<<---MEDIA-QUERIES(TABLETS)-STYLING-START'S---->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ?<<<<<<<<<<<<<<<<-Tablet's-Style's->>>>>>>>>>>>>>>> */

@media screen and (min-width: 688px){
  /* <<<<<<<<<<<<<<<<-HERO-CONTENt-Section-Style's->>>>>>>>>>>>>>>> */
  /* <<<<<<<<<<<<<<<<-Defualt-variable-Value's->>>>>>>>>>>>>>>> */
:root {
  --font--size-16px: 2rem;
  --font--size-20px: 2rem;
  --font--size-24px: 4.4rem;

  --primary--title: 54px;
  --secondary--title: 3.2rem;

  /* --font1: 'Archivo', sans-serif;
  --font2: 'Clash Display', sans-serif; */

  --grid--columns: 8;

  --section-spacing: 5.6rem 2.4rem;

  --transition: 400ms all ease;
}


/* <<<<<<<<<<<<<<<<-Hero-Section-Style's->>>>>>>>>>>>>>>> */
.row {
  padding-left: 0;
}

.row1 {
  grid-column: span 5;
}

.row1 .main__title {
  color: var(--light--color);
  font-size: var(--primary--title);
  font-weight: bold;
  line-height: 54px;
}

.row1 .description__title {
  color: var(--light--color);
  font-size: var(--font--size-16px);
  line-height: 35px;
  margin-top: 2.4rem;
}

.row1 .btn__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.hero {
  position: relative;
  overflow: hidden;
}


.bg__svg2 {
  display: block;
  position: absolute;
  bottom: 0;
  right: -20%;
  width: 615px;
}

.bg__svg1, .bg__svg3 {
  display: none;
}


/* <<<<<<<<<<<<<<<<-Feature-Section-Style's->>>>>>>>>>>>>>>> */
.feature__container {
  grid-column: span all;
  justify-content: space-between;
  align-items: center;
}
/* .feature__container .feature__image {
  grid-column: 1 / 5;
}

.feature__container .feature__info {
  grid-column: 5 / 9;
} */

.feature__info {
  margin-top: 2rem;
}

.feature__info .feature__title {
  font-family: var(--font-family-bold);
  font-size: var(--font--size-24px);
  line-height: 57px;
}

.feature__info .feature__description {
  font-size: var(--font--size-16px);
  line-height: 32px;
  padding: 2rem 0;
}

.ulternate__feature-container {
  background-color: var(--off-white);
}

.order-2 {
  order: 2;
}

.order-1 {
  order: 1;
}


/* ===================READY-TO-START-SECTION-Styling=================== */
.ready-to {
  background-color: var(--off-white);
}

.ready__to__wrapper > * {
  grid-column: span var(--grid--columns);
}

.ready__to-info h2 {
  font-family: var(--font2);
  font-size: var(--font--size-24px);
  line-height: 45px;
  letter-spacing: 2px;
  text-align: center;
}

.ready__to-info p {
  line-height: 32px;
  margin-top: 3rem;
  text-align: center;
}


.ready__to-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ready__to-start h4 {
  font-size: var(--secondary--title);
  font-family: var(--font-family-bold);
  line-height: 38px;
  padding: 3rem 0;
  text-align: center;
}



/* ===================FOOTER-SECTION-Styling=================== */
footer {
  background-color: var(--light--dark);
}

.footer__wrapper {
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 2rem;
}

.f__links {
  width: 120px;
  height: 256px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__links {
  padding: 6rem 0;
}



}









/* *<<<<<<<<<<<<<<<<<<<<<<<<<<<<---MEDIA-QUERIES(DESKTOP)-STYLING-START'S---->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ?<<<<<<<<<<<<<<<<-Tablet's-Style's->>>>>>>>>>>>>>>> */

@media screen and (min-width: 1024px) {
  /* <<<<<<<<<<<<<<<<-Defualt-variable-Value's->>>>>>>>>>>>>>>> */
  :root {
    --font--size-16px: 2rem;
    --font--size-20px: 2rem;
    --font--size-24px: 4.8rem;

    --primary--title: 54px;
    --secondary--title: 3.2rem;

    /* --font1: 'Archivo', sans-serif;
    --font2: 'Clash Display', sans-serif; */

    --grid--columns: 12;

    --section-spacing: 10.6rem 2.4rem;

    --transition: 400ms all ease;
  }


  /* <<<<<<<<<<<<<<<<-NAV-BAR-Section-Style's->>>>>>>>>>>>>>>> */
  .nav__menu {
    position: unset;
    top: unset;
    right: unset;
    bottom: unset;
    z-index: 998;
    width: unset;
    background-color: transparent;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    padding: unset;
    transform: unset;
  }

  :is(.nav__menu-logo, .nav__menu-divider, .nav__menu-footer) {
    display: none;
  }

  .btn--close, .btn--open {
    display: none;
  }

  .nav__list {
    flex-direction: row;
  }

  .nav__list-link {
    padding: 1rem;
    margin-inline: 1rem;
    color: var(--light--color);
    font-weight: 400;
    font-size: 1.6rem;
  }

  .nav__list-link:hover {
    color: var(--light--color);
    text-decoration: underline;
  }


  /* <<<<<<<<<<<<<<<<-Hero-Section-Style's->>>>>>>>>>>>>>>> */
.hero {
  height: 62.6rem;
  background-image: url(./assets/images/hero__bg.jpg);
  background-position: center;
  background-size: cover;
}

.row1 {
  grid-column: 3 / 11;
  justify-content: center;
  text-align: center;
}

.row1 .main__title {
  color: var(--light--color);
  font-size: var(--primary--title);
  font-weight: bold;
  line-height: 54px;
}

.row1 .description__title {
  color: var(--light--color);
  font-size: var(--font--size-16px);
  line-height: 37px;
  margin-top: 4rem;
}

.row1 .btn__group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 4rem;
}

.bg__svg3 {
  display: block;
  width: 100%;
  height: 100%;
}

.bg__svg1, .bg__svg2 {
  display: none;
}


/* <<<<<<<<<<<<<<<<-Feature-Section-Style's->>>>>>>>>>>>>>>> */
.feature__container {
  justify-content: space-between;
  align-items: center;
}

.feature__container .feature__image {
  grid-column: 1 / 8;
}

.feature__container .feature__info {
  grid-column: 9 / 13;
}

.ulternate .feature__image {
  grid-column: 6 / 13;
}
.ulternate .feature__info {
  grid-column: 1 / 5;
}

.feature__info {
  margin-top: 2rem;
}

.feature__info .feature__title {
  font-family: var(--font-family-bold);
  font-size: var(--font--size-24px);
  line-height: 57px;
  text-align: start;
}

.feature__info .feature__description {
  font-size: var(--font--size-16px);
  line-height: 32px;
  padding: 2rem 0;
}

.ulternate__feature-container {
  background-color: var(--off-white);
}

/* .order-2 {
  order: 2;
}

.order-1 {
  order: 1;
} */


/* <<<<<<<<<<<<<<<<-Feature-Section-Style's->>>>>>>>>>>>>>>> */
.ready__to-info {
  grid-column: 3 / 11;
}


/* ===================FOOTER-SECTION-Styling=================== */
footer {
  background-color: var(--light--dark);
}

.footer__wrapper {
  display: grid;
  grid-template-columns:40% 60%;
  gap: 3rem;
}

.f__links {
  width: 120px;
  height: 256px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__links {
  padding: 6rem 0;
}

}


